@import url('common.css');

#index {
    margin-bottom: 20px;
}

#index #imgSlideShow {
    height: 50vh;
    width: 100%;
    background-image: url('../img/imgAußen4.jpg');
    background-size: cover;
    background-position: top;
}

#index h1{
    background-color:  var(--blue);
    display: block;
    width: max-content;
    margin: auto;
    padding: 20px 30px;
    font-size: 50px;
    transform: translateY(-25px);
    font-weight: normal;
    color: white;
    box-shadow: 5px 5px 20px -5px var(--gray);
}

#index #navigation {
    margin: 50px 0;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content max-content 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 30px;
}
#index #navigation div {
    position: absolute;
    background-color: var(--lightgray);
    width: 100%;
}
#index #navigation .row1bg {
    height: 16.9vw;
    max-height: 270px;
    top: 2.6vw;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}
#index #navigation .row2bg {
    top: 29.65px;
    height: 192.817px;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: none;
}
#index #navigation .row3bg {
    top: 29.65px;
    height: 192.817px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: none;
}
#index #navigation .row4bg {
    top: 29.65px;
    height: 192.817px;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display: none;
}
#index #navigation .verkaufen {
    grid-column: 2 / 3;
}
#index #navigation img{
    position: relative;
    display: block;
    margin: auto;
    height: 22vw;
    max-height: 350px;
    min-height: 250px;
    z-index: 90;
}
#index #navigation img{
    position: relative;
    display: block;
    margin: auto;
    height: 22vw;
    max-height: 350px;
    min-height: 250px;
    z-index: 90;
    transform: translateY(0px);
    transition: transform 0.3s;
}
#index #navigation img:hover{
    transform: translateY(-10px);
    transition: transform 0.4s;
}
#index #infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightgray);
}

#index #infoText p{
    font-size: 15px;
    text-align: center;
}

@media screen and (min-width: 1600px) {
    #index #navigation .row1bg {
        top: 40px;
    }
}
@media screen and (max-width: 1150px) {
    #index #navigation {
        grid-template-columns: 1fr max-content max-content 1fr;
    }
    #index #navigation .row2bg {
        display: block;
    }
    #index #navigation .verwalten {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    #index #navigation .vertrauen {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
}
@media screen and (max-width: 1136px) {
    #index #navigation .row1bg {
        top: 29.65px;
        height: 192.817px;
    }

    #index h1{
        display: block;
        margin: 30px;
        text-align: center;
        transform: translate(0, -50px);
    }
}
@media screen and (max-width: 940px) {
    #index h1 {
        font-size: 40px;
        margin: 30px;
        transform: translate(0, -50px);
        text-align: center;
    }
}
@media screen and (max-width: 782px) {
    #index h1 {
        font-size: 35px;
        width: auto;
    }
}
@media screen and (max-width: 580px) {
    #index #navigation {
        grid-template-columns: 1fr max-content 1fr;
    }
    #index #navigation .row3bg,
    #index #navigation .row4bg {
        display: block;
    }
    #index #navigation .vermieten {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    #index #navigation .verwalten {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    #index #navigation .vertrauen {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}
@media screen and (max-width: 430px) {
    #index h1 {
        font-size: 30px;
    }
}