@import url('../../css/common.css');

#realEstate .realEstateImg {
    position: relative;
    background-color: var(--blue);
    padding: 0;
    margin-bottom: 20px;
}
#realEstate .realEstateImg img {
    display: block;
    width: 70vw;
    max-width: 800px;
    z-index: 90;
    position: relative;
}

#realEstate div#ivd24-container i {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
}

#realEstate div {
    padding-top: 0;
    padding-bottom:0;
}

#realEstate .fontnull {
    font-size: 0px;
}
#realEstate > a {
    float: right;
}

#realEstate div.hide {
    display: none;
}

#realEstate div#moreInfo {
    display: block;
    padding: 20px 0;
    text-align: right;
}
#realEstate div#moreInfo a{
    margin: 20px 0;
    cursor: pointer;
}

#realEstate div#ivd24Container  {
    max-width: 1700px;
    margin: 0 auto 50px;
}
#realEstate div#ivd24-container i {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
}
#realEstate #ivd24-container .aw-objects-grid {
    display: block;
}
#realEstate #ivd24-container .aw-objects-grid > div {
    max-width: 900px !important;
    margin: 20px 0;
    float: left;
    box-shadow: 1px 1px 10px -4px var(--gray);
}
#realEstate #ivd24-container .aw-objects-grid > div:nth-child(even) {
    float: right;
}
#realEstate #ivd24-container span {
    font-size: 18px;
}
#realEstate #ivd24-container .title {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 1;
}
#realEstate #ivd24-container .aw-tag {
    display: none;
}
#ivd24-container .m-aw-objekt .detail {
    align-items: flex-start !important;
    margin-right: 30px !important;
}
#ivd24-container .expose-link {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px !important;
    width: max-content !important;
    max-width: unset !important;
    font-size: 21px !important;
    font-weight: normal !important;
    border: none !important;
    color: white !important;
    background-color: var(--blue) !important;
}
#ivd24-container .mb-3 > div {
    margin: 8px !important;
}
#realEstate #expose a.btn span,
#realEstate #expose button {
    color: white !important;
}


#realEstate #formBox {
    background-color: white;
    box-shadow: 0px 0px 5px var(--lightgray);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    overflow-y: auto;
    padding: 40px;
    max-height: 80vh;
}
#realEstate span {
    font-size: 12px;
}
#realEstate .leistungList ul {
    list-style: none;
    text-align: left;
    max-width: 1000px;
    background-color: var(--lightblue);
    width: 65vw;
    height: max-content;
    position: relative;
    z-index: 80;
    margin: auto;
    padding: 20px;
    list-style: disc;
}

#realEstate ul li{
    margin: 10px;
    color:white;
}

#realEstate p {
    margin: 20px 0;
}
#realEstate input[type=checkbox] {
    margin-top: 20px;
}
#realEstate #formBox i {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
}
#realEstate #formBox i:hover {
    color: var(--blue);
}


#realEstate .leistungList {
    position: relative;
    margin: 50px 0;
    padding: 0;
}
#realEstate .leistungList > div{
    background-color: var(--lightgray);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 50;
}
#realEstate div.bg1 {
    margin: 70px 0;
}
#realEstate div.bg2 {
    margin: 30px 0;
}
#realEstate iframe {
    width: 60vw;
    height: 40vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    box-shadow: 0 0 20px -10px var(--gray);
    max-width: 1400px;
    max-height: 800px;
}

@media screen and (max-width: 1300px) {
    #realEstate h1.pageHeadline {
        margin: 30px;
        width: auto;
    }
    #realEstate ul {
        width: 85vw;
    }
    #realEstate iframe {
        width: 70vw;
        height: 45vw;
    }
}

@media screen and (max-width: 1050px) {
    #realEstate h1.pageHeadline {
        margin: 30px;
        width: auto;
    }
    #realEstate #verkaufLeistungOuter{
        margin-bottom: 600px;
    }

    #realEstate #verkaufLeistung{
        background-color: transparent;
    }
    #realEstate #verkaufLeistungInner{
        width: 300px;
        height: 700px;
    }
    #realEstate #verkaufLeistungOuter2{
        margin-bottom: 20px;
    }

    #realEstate #verkaufLeistung2{
        background-color: transparent;
    }
    #realEstate #verkaufLeistungInner2{
        width: 300px;
        height: 200px;
    }
}
@media screen and (max-width: 1000px) {
    #realEstate #formBox {
        width: 80vw;
    }

    #realEstate #ivd24-container span {
        font-size: 17px;
    }
    #realEstate #ivd24-container .title {
        font-size: 21px;
    }
    #ivd24-container .expose-link {
        font-size: 17px;
    }

    #realEstate #verkaufLeistung{
        background-color: transparent;
        margin-bottom: 300px;
    }
    #realEstate #verkaufLeistungInner{
        width: 300px;
        height: 600px;
        margin-bottom: 800px;
    }

    #realEstate #verkaufLeistungOuter2{
        margin-bottom: 20px;
    }

    #realEstate #verkaufLeistung2{
        background-color: transparent;
    }
    #realEstate #verkaufLeistungInner2{
        width: 300px;
        height: 200px;
    }

    #realEstate iframe {
        width: 80vw;
        height: 45vw;
    }
}
@media screen and (max-width: 700px) {
    #realEstate .leistungList ul {
        width: auto;
        margin: 0 50px;
    }
}
@media screen and (max-width: 550px) {
    #realEstate #formBox {
        width: 99vw;
    }
    #realEstate #verkaufLeistungOuter{
        margin-bottom: 600px;
    }

    #realEstate #verkaufLeistung{
        background-color: transparent;
    }
    #realEstate #verkaufLeistungInner{
        width: 300px;
        height: 600px;
    }

    #realEstate #verkaufLeistungOuter2{
        margin-bottom: 20px;
    }

    #realEstate #verkaufLeistung2{
        background-color: transparent;
    }
    #realEstate #verkaufLeistungInner2{
        width: 300px;
        height: 200px;
    }
    #realEstate iframe {
        width: 90vw;
        height: 50vw;
    }
}
@media screen and (max-width: 460px) {
    #ivd24-container .mb-3 a.btn span {
        display: none;
    }
    #realEstate .leistungList ul {
        margin: 0 30px;
    }
}
