@import url('../../css/common.css');

#propertyManagement #formBox {
    max-width: 660px;
    margin: auto;
    padding: 0 30px;
}
#propertyManagement #formBox a {
    text-decoration: none;
}
#propertyManagement #formBox i {
    position: relative;
    top: 2px;
}
#propertyManagement #formBox form {
    margin-top: 10px;
}
#propertyManagement #formBox label.radio {
    margin-right: 20px;
}
#propertyManagement #formBox textarea.hide {
    display: none;
}
#propertyManagement #formBox textarea {
    display: block;
}

@media screen and (max-width: 375px) {
    #propertyManagement h1.pageHeadline {
        margin: 30px 20px;
        width: auto;
        font-size: 32px;
    }
}